$heightHeader: 75px;
$heightFooter: 70px;
$marginTopFooter: 25px;

a:hover {
  text-decoration: none;
}

//============================== ADMIN HEADER ================================
.admin__header {
  position: fixed;
  left: 0;
  top: 0;
  height: $heightHeader;
  width: 100vw;
  padding: 8px 0;
  padding-right: 20px;
  align-items: center;
  border-bottom: 3px solid #e1e0de;
  z-index: 1;
  background-color: white;
}

.admin__col-logo {
  display: flex;
  justify-content: center;
}

.admin__logo {
  width: 110px;
  height: 55px;
}

.admin__title {
  text-align: center;
}

.admin__exit {
  display: flex;
  justify-content: flex-end;
}

.admin__exit-link {
  color: white;
  padding: 4px 28px;
  border: 1px solid #999;
  border-radius: 7px;
  background-color: #dd4f39;
  font-size: 1.2em;
}

//============================== ADMIN MAIN ================================
.admin__main {
  margin-top: $heightHeader;
  height: calc(100vh - #{$heightHeader});
  justify-content: flex-end;
}

//============================== ADMIN ASIDE ================================
.admin__aside {
  position: fixed;
  left: 0;
  top: $heightHeader;
  padding: 0;
  height: 100%;
  border-right: 1px solid #bbb;
  background-color: #f5f2f0;
  z-index: 1;
}

.admin__item-aside-link {
  border-bottom: 1px solid #aaa;
  display: block;
  padding: 20px 0;
  padding-left: 33%;
  color: #696664;
  font-size: 1.2em;
}

.admin__item-aside-link:hover,
.admin__active-link {
  color: #d84933;
}

//============================== ADMIN CONTENT ================================
.admin__content {
  min-height: calc(100vh - #{$heightHeader} - #{$heightFooter} - #{$marginTopFooter});
  padding: 0 30px;
}

//============================== ADMIN FOOTER ================================
.admin__footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  background-color:#fbfafa;
  border-top: 1px solid #e1e0de;
  margin-top: $marginTopFooter;
  text-decoration: underline;
}
