<section class="container-fluid admin">
  <header class="row admin__header">
    <div class="col-2 admin__col-logo">
      <img class="admin__logo" src="../../../assets/images/logo-life-events.png" alt="logo life events">
    </div>
    <h1 class="col-8 admin__title">Admin</h1>
    <div class="col-2 admin__exit">
      <a routerLink="" class="admin__exit-link">Exit</a>
    </div>
  </header>
  <main class="row admin__main">
    <aside class="col-2 admin__aside">
      <ul class="admin__aside-list-link">
        <li *ngFor="let item of asideLinks">
            <a routerLink="#" routerLinkActive="active" class="admin__item-aside-link">{{item}}</a>
        </li>
      </ul>
    </aside>
    <section class="col-10 admin__content">
      <ul class="admin__categories-list">
        <li *ngFor="let item of eventCategories" class="admin__item-categories">{{item}}</li>
      </ul>
      <div class="admin__content-filter">
        <input type="text" name="search-events" class="admin__search-events" placeholder="Search by event information">
        <a routerLink="#" class="admin__btn-add-event btn btn-success">Add event</a>
      </div>
      <div class="admin__content-events">
        <div *ngFor="let price of [10, 20, 30, 40, 50, 50, 50,50,50,50,50,50,50,50,50,50,50,50,50,50,50,40,40,40,40,40,40,40,40,40,40,40,40,40]" class="admin__data-event" >
          <a routerLink="#" class="admin__link-event">
            <img src="./../../../assets/images/event-picture.jpg" alt="event pictupe" class="admin__img-event">
          </a>
          <div class="admin__event-bottom">
              <div>
                  <span class="admin__price-event">{{price}}</span>
                  <span class="admin__price-currency">BYN</span>
              </div>
              <div class="group-button">
                  <a routerLink="#" class="button-edit">Edit</a>
                  <button class="button-remove">x</button>
              </div>
          </div>
        </div>
      </div>
    </section>
    <footer class="col-10 admin__footer">
      <a href="https://github.com/RudikAleksandr" target="_blank">@RudikAleksandr</a>
    </footer>
  </main>


</section>

<router-outlet></router-outlet>