<section class="container-fluid admin">
  <header class="row admin__header">
    <div class="col-2 admin__col-logo">
      <img class="admin__logo" src="../../../assets/images/logo-life-events.png" alt="logo life events">
    </div>
    <h1 class="col-8 admin__title">Admin</h1>
    <div class="col-2 admin__exit">
      <a routerLink="" class="admin__exit-link">Exit</a>
    </div>
  </header>
  <aside class="col-2 admin__aside">
      <ul class="admin__aside-list-link">
        <li *ngFor="let item of asideLinks">
            <a routerLink={{item.link}} routerLinkActive="admin__active-link" class="admin__item-aside-link">{{item.value}}</a>
        </li>
      </ul>
  </aside>
  <main class="row admin__main">
    <section class="col-10 admin__content">
      <router-outlet></router-outlet>
    </section>
  </main>
  <footer class="row admin__footer">
    <div class="col-10">
        <a href="https://github.com/RudikAleksandr" target="_blank">@RudikAleksandr</a>
    </div>
  </footer>

</section>
