
$heightDataEvent: 266px;
$heightLinkEvent: 230px;

//============================== EVENTS-LIST CATEGORIES LIST ================================
.events-list__categories-list {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  border: 1px solid #bbb;
  border-radius: 5px;
}

.events-list__item-categories {
  padding: 9px 20px;
  color: white;
  background-color: #ec6666;
  border: 1px solid #aaa;
  border-left: none;
  cursor: pointer;
}

.events-list__item-categories:nth-of-type(1) {
  border-left: 1px solid #aaa;
}

.events-list__item-categories:hover {
  background-color: #c23c3c;
}

//============================== EVENTS-LIST CONTENT FILTER ================================
.events-list__content-filter {
  display: flex;
  justify-content: space-between;
}

.events-list__search-events {
  width: 50%;
  padding: 5px 0;
  padding-left: 40px;
  border: 1px solid #bbb;
  border-radius: 5px;
  background: url('../../../assets/images/icons/icon-search.png') no-repeat scroll 4px 4px rgba(0, 0, 0, 0);
}

//============================== EVENTS-LIST CONTENT EVENT ================================
.events-list__content-events {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.events-list__data-event {
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  height: $heightDataEvent;
  width: 185px;
}

.events-list__link-event {
  display: block;
  display: flex;
  align-items: center;
  height: $heightLinkEvent;
  border-bottom: 3px solid #ec6666;

}

.events-list__img-event {
  display: block;
  max-width: 100%;
  height: auto;
  border: 0;
}

.events-list__price-event {
  color: green;
  margin-right: 7px;
}

.events-list__group-btn {
  display: flex;
  height: 100%;
}

.events-list__event-bottom {
  padding-left: 7px;
  height: $heightDataEvent - $heightLinkEvent;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.events-list__event-bottom button {
  color: #fff;
  border: 0;
}

.events-list__btn-remove {
  padding: 0px 15px;
  background-color: #dc3545;
}

.events-list__btn-edit {
  padding: 0px 12px;
  padding-top: 5px;
  color: white;
  background-color: #bbb;
}
